{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">

  <div class="row">

  <div class="col-xs-0-col-sm-0-col-md-2-col-lg-2"></div>
    <div class="col-xs-12-col-sm-12-col-md-8-col-lg-8">
    <p>
      Argh Mateys! Welcome to the travel blog of <a href="detail-page.html">Crit McGillicutty</a>, where he discusses his journies throughout the seas and the problems that arise along the way.
    </p>
      <ul> 
      {% for entry in entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
     </ul>
    </div>
  </div>
  <div class="col-xs-0-col-sm-0-col-md-2-col-lg-2"></div>
</div>
{% endblock %}
